.content-fragment {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.content-fragment img {
  display: block;
  width: 100%;
}

.content-fragment h2 {
  margin: 0;
}

.content-fragment p {
  margin: 0;
}
